@tailwind base;
@tailwind components;
@tailwind utilities;

#secondary {
  background-image: url("../assets/images/bg-secondary.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#landing {
  transition: opacity 0.5s ease;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.bgSecondary {
  aspect-ratio: 16/9;
}
::-webkit-scrollbar {
  display: none;
}

.text-reflection {
  transform: translateY(12px) scaleY(-1); /* flip vertical & push down */
  opacity: 0.28;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.06)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.06)
  );
  filter: blur(0.2px); /* subtle blur so reflection isn't perfectly sharp */
}
/* optional small upward shadow for main text */
.main-title {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

#weddinEvent {
  position: relative;
}

#weddinEvent::after {
  content: "Wedding Event";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.3;
  width: 100%;
  text-wrap: none;
}

#ourJourney {
  position: relative;
}

#ourJourney::after {
  content: "Our Journey";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.3;
  width: 100%;
  text-wrap: none;
}
#brideGroom {
  position: relative;
}

#bestWish {
  position: relative;
}

#bestWish::after {
  content: "Best Wish";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-wrap: none;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.3;
}
#brideGroom::after {
  content: "Mempelai";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-wrap: none;
  font-size: 1.5rem;
  color: #000;
  opacity: 0.3;
}
#weddingEvent {
  position: relative;
}

#weddingEvent::after {
  content: "Wedding Event";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-wrap: none;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.3;
}

#weddingEventCard {
  position: relative;
  background-image: url("../assets/images/bg-secondary.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#weddingEventCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* Warna hitam semi-transparan */
  z-index: 1;
}

.playing {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
