@tailwind base;
@tailwind components;
@tailwind utilities;

#secondary {
  background-image: url("../assets/images/bg-secondary.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}
